<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
<!--<connectionStrings>
    <add
    ///نام دیتا بیس که ساخته میشود
			name="name of database"
      ///دیتابیس را انتخاب میکنیم اگر پسورد دار باشد تیک اجازه سیو پسورد را میزنیم و پایین نام دیتابیس را مینویسیم (همان نام کد بالا) و ذخیره را میزنیم
      ///اگر ویندوز اتنتیکیشن باشد از اینتیگریتد سکوریتی مساوی اس اس پی آی
      ///و اگر پسورد اس کیو ال باشد از پیه پسورد به بعد
			connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SignUp Bot App DataBase;Data Source=MAHDI-PC\QQQQQ"
      /// باید فقط همین باشد
			providerName="System.Data.SqlClient"
			/>
  </connectionStrings>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
